@import "../../styles/variables.scss";

.home {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  .info {
    h1 {
      font-size: 5em;
      margin: 0.5em 0;
    }

    p {
      text-align: center;
    }

    .gh-link {
      color: $review;
      display: inline-block;
      width: 100%;

      text-align: center;

      margin: 1em 0;

      transition: 0.2s ease-in-out all;

      &:hover {
        color: darken($color: $review, $amount: 20);
      }
    }
  }
}
