// colors
$black: #1e1e1e;
$white: #ffffff;
$dark-white: #f6f5f5;
$dark-gray: #d0d0d0;
$light-gray: #e9e9e9;

$todo: #ffb37b;
$process: #19b9ec;
$review: #ff629a;
$done: #b8ff97;

// size
$root-size: 16px;

// breakpoints
$md: 1024px;
$sm: 564px;
